html,body{
    box-sizing: border-box;
}
.container{
    width: 1300px;
    height: 1000px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.left li{
    float: left;
} 
.right li{
    float:right
}
.right a{
    margin-left: 15px;
}
.clear{
    clear: both;
}
.menu{
    margin-right: 10px;
}
.searchbox{
    width: 700px;
    height: 50px;
    border: 1px solid #03c75a;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}
.searchbox:hover{
    box-shadow: 3px 3px 2px 0px rgb(207, 205, 205);    
}

.n-logo{
    margin-top: 4px;
    margin-left: 15px;
}
.search{
    width: 600px;
    height: 50px;
    border: none;
    margin-left: 10px;
    font-size: 20px;
    
}
.search:focus{
    outline: none;
}
::placeholder{
    font-size: 20px;
    color: rgb(212, 211, 211);
}
.magnifier{
    padding: 0 8px;
}
.quickbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: -130px;
    gap: 3px;
}
.quick-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.plus-tap{
    display: flex;
    align-self: flex-start;
    margin-top: -0.7px;
}
